* {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
  width: 100%;
}

/* HOME PAGE */

#login {
  width: 320px;
  height: 420px;
  background: rgba(247, 68, 245);
  color: #fafafa;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius:10px;
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}

#loginHeader {
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin-bottom: 40px;
  padding: 0, 0, 20px;
  text-align: center;
  font-size: 30px;
  color:  #fafafa;
}

#login p {
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
}


#homeParagraph {
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin-top: 68px;
  font-size: 24px;
  color: #b9dae3;
  text-align: center;
  line-height: 28px;
  font-weight: 300;
  margin-left: 100px;
  margin-right: 100px;
}

#homeParagraph h2 {
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 20px;
}

#homeParagraph p {
  margin-bottom: 40px;
}

#playGame {
  display: block;
  background: transparent;
  border: 1px solid #fafafa;
  font-weight: 400;
  font-size: 22px;
  padding: 12px 15px 12px 15px;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#playGame a {
  color: #fafafa;
  text-decoration: none;
}

#playGame:hover {
  background: #f958f7;
  color: #fafafa;
  border: 1px solid #f958f7;
}

#username {
  display: block;
  width: 70%;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

#submit {
  display: block;
  background:  transparent;
  border:  2px solid #fafafa;
  color: #fafafa;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1.5px;
  padding: 7px 9px 7px 9px;
  margin-right: auto;
  margin-left: auto;
}

#submit:hover {
  background: #fafafa;
  color: #f958f7;
}
 #trivia{
   font-size: 100px;
   padding-top: 10px;
 }

/* MAIN ELEMENTS */

.background-blue {
  background-image: url("https://static1.squarespace.com/static/57e75145e6f2e191cbe82f42/t/5b2f08ad6d2a73177a9e42de/1529809071236/background-image-01.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav img {
  width: 370px;
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

nav ul li a {
  color: #b9dae3;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
}

nav ul li a:hover {
  color: rgba(247, 68, 245, 70%);
}

nav ul li {
  display: inline;
  margin-right: 30px;
}

nav ul li:last-child {
  margin-right: 0px;
}

.nav-center {
  text-align: center;
  margin-bottom: 60px;
}

h1 {
  color: #b9dae3;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 15px;
}

/* GAME QUESTIONS */

#message {
  color: #b9dae3;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: .5px;
  margin-bottom: 30px;
}

#question {
  color: #b9dae3;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: .5px;
  margin-bottom: 20px;
}

#answers {
  color: #b9dae3;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-align: center;
  font-size: 20px;
  letter-spacing: .5px;
  margin-bottom: 45px;
}

#answers:last-child {
  margin-bottom: 0px;
}

#answers li {
  transition: all .2s ease-in-out;
}

#answers li:hover {
  transform: scale(1.2);
  cursor: -webkit-grabbing;
}

#populate-question {
  width: 700px;
  border-style: dotted;
  border-width: 7px;
  border-color: #f958f7;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  margin-bottom: 60px;
}

#populate-question ul li {
  margin-bottom: 13px;
}

#directions {
  color: #b9dae3;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-align: center;
  font-size: 20px;
  letter-spacing: .2px;
  margin-bottom: 40px;
  width: 720px;
  line-height: 27px;
  margin-left: auto;
  margin-right: auto;
}

#categories {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 250px;
  width: 930px;
}

#categories a img {
  border: none;
  padding: 0;
  width: 150px;
  float: left;
  margin: 5px;
}

#categories a img:last-child {
  margin-right: 0px;
}

/* CONTACT US PAGE */

fieldset {
  width: 400px;
  padding: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

#emailForm {
  color: #b9dae3;
  font-weight: 300;
}

.title {
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  padding-right: 10px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 8px;
}

.input {
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 4px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color:rgba(255, 255, 255);
}

#nameInput {
  width: 200px;
}

#emailInput {
  width: 200px;
}

#commentInput {
  width: 200px;
  height: 100px;
}

.submit {
  background-color: #f958f7;
  color: #fafafa;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1.5px;
  padding: 7px 9px 7px 9px;
  border: none;
  margin-right: 10px;
}

.submit:last-child {
  margin-right: 0px;
}

.submit:hover {
  background-color: #5cb8d3;
}

/*ABOUT US PAGE*/

section.bios {
width: 1200px;
margin-left: auto;
margin-right: auto;  
margin-top: 50px;
}

div.group {
  margin: 10px auto 20px auto;
  float: left;
}

.people {
  width: 320px;
  text-align: left;
  padding-right: 80px;
  margin: 50px 0px 0px 0px;
  color: #fafafa;
}

h3.names {
  font-family: 'Barlow Semi Condensed', sans-serif;
  height: 30px;
  font-size: 28px;
  padding: 3px;
  margin-bottom: 10px;
}

p.biosText {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
}